.monument-cards-lists {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;

  @media (width >= 500px) {
    margin: 0 auto;
  }

  @media (width >= 750px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (width >= 1250px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
